In [3]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from sklearn import datasets
from sklearn.model_selection import train_test_split
from sklearn.tree import DecisionTreeClassifier, plot_tree
from sklearn.metrics import accuracy_score
import seaborn as sns

# Load the Iris dataset
iris = sns.load_dataset('iris')
iris.sample(2)

    sepal_length  sepal_width  petal_length  petal_width species
2            4.7          3.2           1.3          0.2  setosa
12           4.8          3.0           1.4          0.1  setosa

In [4]:
iris.shape

(150, 5)

In [3]:
iris.to_csv(r'C:\Users\alisa\OneDrive\Desktop\MLOPs Note\iris.csv')

In [5]:
# Data Pre-processing 
from sklearn.preprocessing import LabelEncoder 
le = LabelEncoder()
iris['species']=le.fit_transform(iris['species'])

In [6]:
iris.head()

   sepal_length  sepal_width  petal_length  petal_width  species
0           5.1          3.5           1.4          0.2        0
1           4.9          3.0           1.4          0.2        0
2           4.7          3.2           1.3          0.2        0
3           4.6          3.1           1.5          0.2        0
4           5.0          3.6           1.4          0.2        0

In [2]:
iris.shape()

NameError: name 'iris' is not defined

In [9]:
iris['species'].value_counts()

species
0    50
1    50
2    50
Name: count, dtype: int64

In [10]:
X = iris.drop(columns='species')

In [11]:
y = iris['species']

In [13]:
# Split the dataset into training (80%) and testing (20%) sets
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

# Initialize the Decision Tree Classifier
clf = DecisionTreeClassifier(criterion='gini', max_depth=3, random_state=42)

# Train the model
clf.fit(X_train, y_train)

# Make predictions
y_pred = clf.predict(X_test)

# Calculate accuracy
accuracy = accuracy_score(y_test, y_pred)
print(f"Accuracy: {accuracy:.2f}")

Accuracy: 1.00